<div id="header">
    <nav class="navbar" data-bs-theme="dark">
        <a routerLink=""><h1 id="title">What's To Eat</h1></a>
        <p *ngIf="userInfo.name"><span class="header-intro">Welcome Back, </span>{{userInfo.name}} <a routerLink="" (click)="signOut()">(sign out)</a></p>
        <a *ngIf="!userInfo.name" routerLink="login">Sign in</a>
    </nav>
    <div class="container">
        <ul class="row">
            <li class="col text-center"><a routerLink="favorites">Favorites</a></li>
            <li class="col text-center" (click)="onSearchClick()"><a routerLink="search-recipes">Search</a></li>
            <li class="col text-center"><a routerLink="profile">Profile</a></li>
        </ul>
    </div>
</div>